**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!docs/TESTING.md
!dist/extension.js
!dist/webview/conversation.js
!dist/webview/conversation.css
!dist/webview/threads.js
!dist/webview/threads.css
!resources/codex.svg
